<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="col-md-4 pr-1">
          <h4 class="card-title">Nominee List</h4>
        </div>
        <div class="col-md-4 px-1">
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group input-group">  
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <input class="form-control" type="text" id="search" [(ngModel)]="searchTerm" (input)="applyFilter()"
              (ngModelChange)="onSearchChange($event)">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label for="award_category">Award Category</label>
              <select class="form-control form-control-sm" id="award_category" name="award_category"
                [(ngModel)]="selectedAwardCategory" (change)="applyFilter()">
                <option value="" selected>Choose Award Category</option>
                <option value="Promising newcomer">Promising Newcomer</option>
                <option value="Quarterly Award">Quarterly Award</option>
                <option value="Rising Star Award">Rising Star Award</option>
                <option value="Spot Award">Spot Award</option>
                <option value="Half Yearly Award">Half Yearly Award</option>
                <option value="Team Award">Team Award</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="spot_award_subcategory">View</label>
              <select class="form-control form-control-sm" id="view_status" name="view_status" [(ngModel)]="view_status"
                (change)="view_status_shortlist_select()">
                <option value="" selected>Choose Shortlist / Select</option>
                <option value="shortlist">shortlist</option>
                <option value="select">select</option>
              </select>
            </div>

            <div class="form-group mt-2" *ngIf="isCheckboxEnabled">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxChecked">
                  <span class="form-check-sign"></span> Sales
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="dob">Start Date</label>
              <input type="date" class="form-control form-control-sm" placeholder="Ex. DD/MM/YYYY"
                [(ngModel)]="startDate" (change)="applyFilter()">
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="joiningDate">End Date</label>
              <input type="date" class="form-control form-control-sm" placeholder="Ex. DD/MM/YYYY" [(ngModel)]="endDate"
                (change)="applyFilter()">
            </div>
          </div>


          <div class="col-md-2">
            <div class="form-group">
              <!-- <label for="joiningDate my-2">Search</label><br> -->
              <i class="fa fa-search fa-lg" style="margin-top: 35px;" (click)="search()"></i>
            </div>
          </div>

           <!-- <div class="form-group ml-2" style="cursor: pointer;">
              <i class="fa fa-search" (click)="search()"></i>
          </div> -->
          <!-- <div class="col-md-2">
            <div class="form-group">
              <label for="joiningDate">Search</label>
              <i class="fa fa-search" (click)="search()"></i>
            
          </div> -->
          <!-- </div> -->

        </div>

        </div>


        <div class="card-body">
          <div class="row justify-content-end">

            <div class="col-md-2 pr-1">
              <div class="form-group ml-2">
                <button class="btn btn-primary" (click)="downloadExcel()">Convert to Excel</button>
              </div>
            </div>

            <div class="col-md-2 pr-1">
              <div class="form-group">
                <button class="btn btn-success" [disabled]="!isConfirmShortlistEnabled"
                  (click)="confirmShortlist()">Confirm Shortlist</button>
              </div>
            </div>

            <div class="col-md-2 pr-1">
              <div class="form-group">
                <button class="btn btn-success" [disabled]="!isConfirmSelectedEnabled" (click)="confirmSelect()">Confirm
                  Select</button>
              </div>
            </div>

          </div>
        </div>


        <div class="card-body">
        <div class="table-responsive" #tableContainer>
          <table class="table" style="width: auto; overflow-x: auto;">
            <thead class="text-center text-primary"style="white-space: nowrap;">
              <th class="align-middle text-center" style="width: 100px;">Shortlist</th>
              <th class="align-middle text-center" style="width: 100px;">Select</th>
              <th class="align-middle text-center" style="width: 100px;">IsShortList</th>
              <th class="align-middle text-center" style="width: 100px;">IsSelect</th>
              <th class="align-middle text-center" style="width: 100px;">Award Category</th>
              <th class="align-middle text-center" style="width: 100px;">Emp Code</th>
              <th class="align-middle text-center" style="width: 100px;">Emp Name</th>
              <th class="align-middle text-center" style="width: 100px;">Designation</th>
              <th class="align-middle text-center" style="width: 100px;">DOB</th>
              <th class="align-middle text-center" style="width: 100px;">Project Code</th>
              <th class="align-middle text-center" style="width: 100px;">Client</th>
              <th class="align-middle text-center" style="width: 100px;">DOJ</th>
              <th class="align-middle text-center" style="width: 100px;">Unit</th>
              <th class="align-middle text-center" style="width: 100px;">Skill</th>
              <th class="align-middle text-center" style="width: 100px;">Total Experience</th>
              <th class="align-middle text-center" style="width: 100px;">MindCraft Experience</th>
              <th class="align-middle text-center" style="width: 100px;">Nominated By</th>
              <th class="align-middle text-center" style="width: 100px;">Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let employee of filteredEmployeeData" class="text-center">
                <!-- <td class="text-center align-middle"><input class="form-check-input" type="checkbox" [disabled]="checkIfShortlist(employee) === true" (change)="toggleShortlist(employee)">
                  </td> -->
                  

                <td style="width: 100px;">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [disabled]="checkIfShortlist(employee) === true"
                        (change)="toggleShortlist(employee)">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>

                <td style="width: 100px;">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [disabled]="checkIfSelect(employee) === true"
                        (change)="toggleSelect(employee)">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>

                <!-- <td class="text-center align-middle"><input class="form-check-input" type="checkbox"
                    [disabled]="checkIfSelect(employee) === true"></td> -->

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.isShortList }}</span></td>
                  

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.isSelect }}</span></td>
               

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.awardCategory }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                  'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.empCode ? employee.empCode : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.empName ? employee.empName : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.emp_designation ? employee.emp_designation : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                  'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.dob ? employee.dob : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.project_code }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.client }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.doj ? employee.doj : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.unit ? employee.unit : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.skill ? employee.skill : '-' }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.total_exp_in_months }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.mindcraft_exp_in_months }}</span></td>

                <td style="width: 100px;" class="text-center align-middle" [ngClass]="{'text-warning': employee.isShortList === 'Y' && employee.isSelect === 'N',
                              'text-success': employee.isShortList === 'Y' && employee.isSelect === 'Y'}">      <span style="white-space: nowrap;">{{
                  employee.nominatedBy }}</span></td>

                  <td class="align-middle">
                    <div *ngIf="dataLoaded" style="display: flex; list-style: none; cursor: pointer;">
                      <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="viewDetails(employee.empCode, employee.awardCategory, employee.awardSubCategory, employee.awardSubCategory2, employee.project_code)">
                        Details
                      </button>
                  
                      <button [disabled]="!shouldShowViewRatings(employee.awardCategory)" class="btn btn-info btn-sm" (click)="viewRatings(employee.empCode, employee.empName, employee.awardCategory, employee.awardSubCategory, employee.awardSubCategory2, employee.project_code)">
                        Ratings
                      </button>
                    </div>
                  </td>
                  

              </tr>
            </tbody>
          </table>
        </div>

        <!-- Employee Ratings Modal starts here -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayRatingModal ? 'block' : 'none'}">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title text-primary" *ngIf="checkIfItsTeam == false">{{EmpRand.empName}} :
                  {{EmpRand.empCode}}</h5>

                <h5 class="modal-title text-primary" *ngIf="checkIfItsTeam == true">{{stringifyTeamProjName()}} :
                  {{teamRand.teamCount}} members</h5>
              </div>

              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Parameter name</th>
                      <th>Description</th>
                      <th>Rating</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rating of EmployeeRatings">
                        <td>{{rating.parameter_name ? rating.parameter_name : '-'}}</td>
                        <td>{{rating.description ? rating.description : '-'}}</td>
                        <td>{{rating.rating? rating.rating : '-'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Employee rating modal ends here -->


        <!-- View Details Modal start here -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayDetailsModal ? 'block' : 'none'}">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary">{{employeeDetailsnew?.empName}} : {{employeeDetailsnew?.empCode}}
                </h5>
              </div>
              <div class="modal-body" style="max-height: 500px; overflow-y: auto;">

                <!-- Nomination details modal starts here -->
                <form [formGroup]="EmpForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="details-container" style="font-size: medium;">
                            <h5 style="text-decoration: underline;">Nomination Details</h5>


                            <div class="detail-item">
                              <span class="detail-label">Award Category : </span>
                              <span><b>{{employeeDetailsnew1?.award_category ? employeeDetailsnew1?.award_category :
                                  'none'}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Award SubCategory : </span>
                              <span><b>{{employeeDetailsnew1?.award_sub_category ?
                                  employeeDetailsnew1?.award_sub_category : 'none'}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Award SubCategory2 : </span>
                              <span><b>{{employeeDetailsnew1?.award_sub_category2 ?
                                  employeeDetailsnew1?.award_sub_category2 : 'none'}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Nominated By : </span>
                              <span><b>{{employeeDetailsnew1?.nominated_by}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Nominated By Designation : </span>
                              <span><b>{{employeeDetailsnew1?.nom_by_designation}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">On Behalf Of : </span>
                              <span><b>{{employeeDetailsnew1?.onbehalf_of}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">On Behalf Of Designation : </span>
                              <span><b>{{employeeDetailsnew1?.on_behalf_designation}}</b></span>
                            </div><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Nomination detials modal ends here -->



                <!-- Employee details starts here -->
                <form [formGroup]="EmpForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="details-container" style="font-size: medium;">
                            <h5 style="text-decoration: underline;">Employee Details</h5>
                            <div class="detail-item">
                              <span class="detail-label">DOJ : </span>
                              <span><b>{{employeeDetailsnew?.doj}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Unit : </span>
                              <span><b>{{employeeDetailsnew?.unit}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Skill : </span>
                              <span><b>{{employeeDetailsnew?.skill}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Employee Designation : </span>
                              <span><b>{{employeeDetailsnew?.empDesignation}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Mindcraft Experience(In Months) : </span>
                              <span><b>{{employeeDetailsnew?.mindcraftExpInMonths}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Total Experience(In Months) : </span>
                              <span><b>{{employeeDetailsnew?.totalExpInMonths}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Contact Number : </span>
                              <span><b>{{employeeDetailsnew?.contactNumber}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Email Id : </span>
                              <span><b>{{employeeDetailsnew?.emailId}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">DOB : </span>
                              <span><b>{{employeeDetailsnew?.dob}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Project Code : </span>
                              <span><b>{{employeeDetailsnew?.projectCode}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Project Name : </span>
                              <span><b>{{employeeDetailsnew?.projectName}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Client : </span>
                              <span><b>{{employeeDetailsnew?.client}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Industry Name : </span>
                              <span><b>{{employeeDetailsnew?.industryName}}</b></span>
                            </div><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Employee details ends here -->

              </div>
              <div class="modal-footer">
                <!-- Your modal footer content here -->
                <button type="button" class="btn btn-danger" (click)="onCloseDetailsModal()">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- View details modal ends here -->





        <!-- Team Details Modal start here -->
        <div class="modal" tabindex="-1" role="dialog"
          [ngStyle]="{'display': displayTeamDetailsModal ? 'block' : 'none'}">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary" *ngIf="checkIfItsTeam == true">{{stringifyTeamProjName()}} :
                  {{teamRand.teamCount}} members
                </h5>

                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label for="teamMember">Select team member</label>
                    <select class="form-control form-control-sm"
                      (change)="fetchSingleMemberOfProject($event.target.value)" id="teamMember" name="teamMember">
                      <option value="ChooseTeamMember" selected>Choose Team Member</option>
                      <option *ngFor="let single_member of TeamMembersOfProjects" [value]="single_member.emp_code">
                        {{ single_member.emp_name }} - {{single_member.emp_code}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>



              <div class="modal-body" style="max-height: 500px; overflow-y: auto;">

                <!-- Nomination details modal starts here -->
                <form [formGroup]="EmpForm">
                  <div *ngIf="selectedTeamMember" class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="details-container" style="font-size: medium;">
                            <h5 style="text-decoration: underline;">Nomination Details</h5>


                            <div class="detail-item">
                              <span class="detail-label">Award Category : </span>
                              <span><b>{{EmployeeNominationForteam?.award_category ?
                                  EmployeeNominationForteam?.award_category :
                                  'none'}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Award SubCategory : </span>
                              <span><b>none</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Award SubCategory2 : </span>
                              <span><b>none</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Nominated By : </span>
                              <span><b>{{EmployeeNominationForteam?.nominated_by}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Nominated By Designation : </span>
                              <span><b>{{EmployeeNominationForteam?.nom_by_designation}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">On Behalf Of : </span>
                              <span><b>{{EmployeeNominationForteam?.onbehalf_of}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">On Behalf Of Designation : </span>
                              <span><b>{{EmployeeNominationForteam?.on_behalf_designation}}</b></span>
                            </div><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Nomination detials modal ends here -->



                <!-- Employee details starts here -->
                <form [formGroup]="EmpForm">
                  <div *ngIf="selectedTeamMember" class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="details-container" style="font-size: medium;">
                            <h5 style="text-decoration: underline;">Employee Details</h5>
                            <div class="detail-item">
                              <span class="detail-label">DOJ : </span>
                              <span><b>{{employeeDetailsForteam?.doj}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Unit : </span>
                              <span><b>{{employeeDetailsForteam?.unit}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Skill : </span>
                              <span><b>{{employeeDetailsForteam?.skill}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Employee Designation : </span>
                              <span><b>{{employeeDetailsForteam?.empDesignation}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Mindcraft Experience(In Months) : </span>
                              <span><b>{{employeeDetailsForteam?.mindcraftExpInMonths}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Total Experience(In Months) : </span>
                              <span><b>{{employeeDetailsForteam?.totalExpInMonths}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Contact Number : </span>
                              <span><b>{{employeeDetailsForteam?.contactNumber}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Email Id : </span>
                              <span><b>{{employeeDetailsForteam?.emailId}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">DOB : </span>
                              <span><b>{{employeeDetailsForteam?.dob}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Project Code : </span>
                              <span><b>{{employeeDetailsForteam?.projectCode}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Project Name : </span>
                              <span><b>{{employeeDetailsForteam?.projectName}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Client : </span>
                              <span><b>{{employeeDetailsForteam?.client}}</b></span>
                            </div><br>
                            <div class="detail-item">
                              <span class="detail-label">Industry Name : </span>
                              <span><b>{{employeeDetailsForteam?.industryName}}</b></span>
                            </div><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Employee details ends here -->

              </div>
              <div class="modal-footer">
                <!-- Your modal footer content here -->
                <button type="button" class="btn btn-danger" (click)="onCloseTeamDetailsModal()">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Team details modal ends here -->



      </div>
    </div>
  </div>
</div>