<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Nominee List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Shortlist</th>
              <th>Select</th>
              <th>Emp Code</th>
              <th>Promising New Award Nominations</th>
              <th>Category</th>
              <th>Previous Awards</th>
              <th>DOJ</th>
              <th>Unit</th>
              <th>Skill</th>
              <th>Designation</th>
              <th>MindCraft Exp. in months</th>
              <th>Total Exp. in months</th>
              <th>Client/Project</th>
              <th>Nominated By</th>
              <th>Contact Number</th>
              <th>Email IDs</th>
              <th>DOB</th>
              <th>Docs</th>

            </thead>
            <tbody>
              <tr>


                <td class="text-right">
                  <input class="form-check-input" type="checkbox" value="">
                </td>
                <td class="text-right">
                  <input class="form-check-input" type="checkbox" value="">
                </td>

                <td>3644</td>
                <td>Christina Manakkal</td>
                <td>Quarterly Performance Award</td>
                <td>Promising Newcomer,Rising Star</td>
                <td>01/08/2023</td>
                <td>Projects & Managed Services</td>
                <td>Angular & SpringBoot</td>
                <td>Associate Consultant</td>
                <td>4 months</td>
                <td>4 months</td>
                <td>In-house project</td>
                <td>Amisha</td>
                <td>8108526500</td>
                <td>christinajosedaya@gmail.com</td>
                <td>02/06/2001</td>
                <td class="text-right">
                  <i class="nc-icon nc-single-copy-04"></i>
                </td>

              </tr>
              <tr>
                <td class="text-right">
                  <input class="form-check-input" type="checkbox" value="">
                </td>
                <td class="text-right">
                  <input class="form-check-input" type="checkbox" value="">
                </td>

                <td> 3643</td>
                <td> Nelson Amaran</td>
                <td> Rising Star</td>
                <td> 0</td>
                <td> 01/09/2023</td>
                <td> Projects & Managed Services</td>
                <td> Java</td>
                <td> Associate Consultant</td>
                <td> 4 months</td>
                <td> 8 months</td>
                <td> In-house project</td>
                <td> Amisha</td>
                <td> 9082121716</td>
                <td> nelson@gmail.com</td>
                <td> 14/08/2000</td>
                <td class="text-right">
                  <i class="nc-icon nc-single-copy-04"></i>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">


        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-right">
                Salary
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        
      </div>
    </div>
  </div>


</div>